.container{
    text-align: center;
    background-color: rgb(221, 218, 218);
}
.jumbotron{
    background-image: url("../images/blog-img/img-about/black-white.png");
    background-size: cover;
    color: rgb(230, 169, 230);
    
}
